
<!DOCTYPE html>
<html>
    <head>
        <title>Revision Room</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
        <body>
            <ul>
                <li><a href="/">  Accueil  </a></li>
                <li><a href="/Nettoyage/"> Nettoyage de donnée   </a></li>
                <li><a href="/Arbres_de_decision/"> Arbre de décision  </a></li>
            </ul>

            <h1>Non d'une carrote ! </h1>
            <h1>{{message}}</h1>
        </body>
            
            <footer> Professeur - Arsene Lapin</footer>
</html>